body{
  background-color: #F7EBD3;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
}

.navbar-container-items ul{
    display: flex;
    list-style: none;
}

.navbar-items{
  margin: 10px;
}